includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 4
    paths:
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    ignoreErrors:
        -
            messages:
                - '#Call to an undefined method#'
            paths:
                - src/Actions/*
